
.masthead {

	@include e('title') {
		line-height: 1.1;

		@media (max-width: $screen-lg-break) {
			text-align: center;
		}
	}

	@include e('description') {
		@media (max-width: $screen-lg-break) {
			text-align: center;
		}
	}
}