.navigation-bar {

	@include m('main') {
		padding-top: 1.0em;
		padding-bottom: 1.0em;
		background-color: #1c2c52;
	}

	@include m('footer') {
		background-color: #F1F1F1;

		a {
			color: #95989A;
			text-decoration: none;
			font-size: 12px;
			line-height: ($base / 12px);
		}

	}

	@include e('nav') {
		font-weight: 600;

		@include m('main') {
			float: right;
		}

		@include m('footer') {
			text-align: center;
		}
	}

	@include e('logo') {
		height: 1.0em;
	}
}