<div id="filterrific_results">
  <table class="ui table">
    <thead>
      <tr>
      <th>Course Code</th>
      <th>Name</th>
      <th class="right aligned">Action</th>
      </tr>
    </thead>
    <tbody>
      <% courses.each do |course| %>
        <tr>
          <td><%= course.code %></td>
          <td><%= link_to course.title, course_path(course) %></td>
          <td class="right aligned">
            <%= link_to "Add", course_add_path(course), :class => "btn btn--primary btn--small"  %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
